* {
    box-sizing: border-box;

}
body{
    background-color: #8EA7E9;
    text-align: center;
}

.cell {
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 0.75em;
    background-color: gray;
}

table, td, th {
    border: 1px solid;
    border-collapse: collapse;
}

table{
    margin: auto;
}

.reset {
    background-color: #8EA7E9;
    border: none;
    font-size: 35px;
    cursor: pointer;
}