/* Default styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #282A3A;
    text-align: center;
    color: #333456;
    font-size: 20px;
    height: fit-content;

    margin: 0; /* Remove default margin */
}

.cell {
    text-align: center;
    font-size: 100%;
    background-color: #726A95;
    border-radius: 2px;
    transition: 0.2s;
}

table, td, th {
    border: 1px solid;
    border-collapse: collapse;
    border-radius: 2px;

}

table {
    margin: auto;
}

.game-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 400px;
}

.stop-watch {
    font-family: 'Orbitron', sans-serif;
    color: #FF0000;
    letter-spacing: 7px;
}

.btn {
    font-family: 'IBM Plex Mono', monospace;
    color: #e199f9;
    background-color: #205295;
    border: none;
    border-radius: 5px;
    margin: 15px;
    padding: 7px 12px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

.btn:hover {
    background-color: #2C74B3;
}

.btn-beginner:hover {
    background-color: #03C988;
    color: #3E2C41;
}

.btn-expert:hover {
    background-color: crimson;
    color: antiquewhite;
}

.board-container {
    width: 400px;
    height: 400px;
    display: inline-block;
    box-shadow: 3px 1px 66px -3px rgba(191, 181, 181, 0.62);
    -webkit-box-shadow: 3px 1px 66px -3px rgba(191, 181, 181, 0.62);
    -moz-box-shadow: 3px 1px 66px -3px rgba(191, 181, 181, 0.62);
}

.lives {
    font-size: 25px;
}

.reset {
    background-color: #282A3A;
    border: none;
    font-size: 35px;
    cursor: pointer;
}

.hint-container {
    display: flex;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}

.hint-bulbs {
    background-color: #ebf656;
    display: inline-block;
    border-radius: 7px;
}

.bulb-img {
    height: 50px;
}

/* Media query for smaller screens */

@media (max-width: 480px) {
    body {
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    .board-container {
        width: 360px;
        height: 360px;
    }

    .cell {
        font-size: 1em; /* Adjust font size for cells */
    }

    .game-info {
        width: 360px;
    }

    .btn {
        font-size: 12px; 
        margin: 2px;
    }
}
